mixin lazyload(props = {})
	- const {  } = props;

	.lazyload
		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-1.jpg"))

		picture
			//- Если ширина экрана меньше 600px и устройство поддерживает webp и имеет стандартную плотность пикселей, то грузится webp формат. Если ретина, то изображение 2x
			source(media="(max-width: 600px)", srcset=require("../components/lazyload/img/lazy-1x1.png"), data-srcset=require("../components/lazyload/img/lazy-2.webp") + " 1x, " + require("../components/lazyload/img/lazy-2@2x.webp") + " 2x", type="image/webp")
			//- Грузится по умолчанию
			img.lazy(alt='A lazy image' src=require("../components/lazyload/img/lazy-1x1.png") data-src=require("../components/lazyload/img/lazy-2.jpg"))

		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-3.jpg"))
		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-4.jpg"))
		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-5.jpg"))
		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-6.jpg"))
		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-7.jpg"))
		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-8.jpg"))
		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-9.jpg"))
		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-10.jpg"))
		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-11.jpg"))
		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-12.jpg"))
		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-13.jpg"))
		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-14.jpg"))
		img.lazy(src=require("../components/lazyload/img/lazy-1x1.png"), alt="A lazy image", data-src=require("../components/lazyload/img/lazy-15.jpg"))
