mixin lazyload(props = {})
	- const { message } = props;

	.lazyload
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/1.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			picture
				source(data-src=require("../components/lazyload/img/2.webp") srcset=require("../components/lazyload/img/1x1.png") tyle="image/webp")
				img.lazyload__image(data-src=require("../components/lazyload/img/2.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/3.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/4.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/5.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/6.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/7.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/8.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/9.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/10.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/11.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/12.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/13.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/14.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")
		.lazyload__lazyelem-container
			img.lazyload__image(data-src=require("../components/lazyload/img/15.jpg") src=require("../components/lazyload/img/1x1.png") alt="picture")

		.lazyload__lazymap-container.__load-map(style="width: 100%" data-map="https://maps.google.com/maps?width=100%25&height=600&hl=en&q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&t=&z=14&ie=UTF8&iwloc=B&output=embed")
